
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .photo{
  height: 388px;
width: 253px;
left: 74px;
top: 142px;
border-radius: 7px; */
/* position: absolute; */
/* width: 253px; */
/* height: 388px; */
/* left: 74px; */
/* top: 142px; */

/* }
.exp{
  height: 71px;
width: 324px;
left: 80px;
top: 626px;
border-radius: nullpx;
font-family: Manrope;
font-size: 40px;
font-weight: 600;
line-height: 55px;
letter-spacing: 0em;
text-align: left;

}
.UI{
  position: absolute;
width: 197px;
height: 64px;
left: 83px;
top: 554px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px; */
/* line-height: 33px; */

/* color: #000000;
} */
